# Configurações de Conexão com o Servidor QuePasa
VITE_QUEPASA_SERVER_URL=https://apiwhatsapp.v4saman.com
VITE_QUEPASA_USER=ti.bh@v4company.com
VITE_USE_MOCK=false

# Configurações do Banco de Dados
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sua_senha
DB_NAME=sentinela
